venv/
env/
ENV/
.env
.venv
.env.*

allure-results/
allure-report/
reports/
*.log
*.png
*.mp4

.idea/
.vscode/
.DS_Store

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.python-version

drivers/
*.exe
*.dmg

Thumbs.db